@model IEnumerable<ProductCrudOperation.Models.Product>

@{
    // ViewData["Title"] = "Product List";
}

<div class="header-container">
    <h4>PRODUCT LIST</h4> 
</div>


<div class="mb-3 text-end">
    <a class="btn btn-primary custom-small-btn" asp-controller="Product" asp-action="Add">Add Product</a>

</div>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>SN</th>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int sn = 1;
            foreach (var product in Model)
            {
                <tr>
                    <td>@sn</td> 
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.CreatedDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" title="Edit">
                            <i class="bi bi-pencil-square"></i> 
                        </a>
                        <a class="btn btn-danger btn-sm" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" title="Delete">
                            <i class="bi bi-trash"></i> 
                        </a>
                        <a class="btn btn-secondary btn-sm" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" title="Details">
                            <i class="bi bi-eye"></i> 
                        </a>
                    </td>
                </tr>
                sn++;
               
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No products found.</td>
            </tr>
        }
    </tbody>
</table>
